<h1>Login Form</h1>
<form action ="/login2" method="post">
<input type="text" name="C-username" placeholder="username"><br>
<input type="text" name="C-password" placeholder="password"><br>
<button>login</button>
</form>
<h1>This is home page</h1>
<li><a href="/register2">Sign up !</a><li>
<li><a href="/login2">Login</a><li>
<li><a href="/logout">Logout</a><li>