<h1>Register Page</h1>
<form action ="/register2" method="post">
<input type="text" name="C-Name" placeholder="C-Name">
<input type="text" name="C-Id" placeholder="C-Id">
<input type="text" name="C-password" placeholder="C-password">
<input type="date" name="C-dob" placeholder="C-dob">
<input type="Address" name ="C-Address" placeholder="C-Address">
<button>login</button>
</form>
<h1>This is home page</h1>
<li><a href="/register2">Sign up !</a><li>
<li><a href="/login2">Login</a><li>
<li><a href="/logout">Logout</a><li>